@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

@import url("components/container.css");

@import url("components/avatar.css");

@import url("components/button.css");

@import url("components/banner.css");
@import url("components/menu.css");

@import url("components/equipe.css");

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Rubik:ital,wght@0,500;1,300&display=swap');

body{
	min-height: 100%;
	font-family: 'Rubik',sans-serif;
	font-size: 2em;
	display: flex;
	flex-direction: column;

}

h1, h2, h3{
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
}
a{
	text-decoration: none;
}

#footer{
	background-color: #04a4fb;
	display: flex;
	width: 100%;
	position:  relative;
	bottom: 0;

	
}

.container{
	height: 15%;
}

#footer h2{
	color:  white;
	font-size: 1em;
}
#footer p{

	font-size: 0.3em;
}